<%= turbo_frame_tag "comment_turbo_frame" do %>
  <h2>Edit this comment</h2>
  <%= simple_form_for @comment, url: comment_path(@comment) do |f| %>
    <h4><%= f.input :content %></h4>
    <%= f.button :submit %>
  <% end %>
<% end %>
