<div id="target">
  <% comments.each do |comment| %>
    <%= turbo_frame_tag comment do %>
      <h3>
        <%= comment.content %>
        <%= link_to "Edit", edit_comment_path(comment) %>
      </h3>
    <% end %>
  <% end %>
</div>
