<h1>Home page</h1>

<%= simple_form_for Chatroom.new, url: chatrooms_path do |f| %>
  <h4><%= f.input :name %></h4>
  <%= f.button :submit %>
<% end %>

<br/>

<% @chatrooms.each do |chatroom| %>
  <h3><%= link_to chatroom.name, chatroom_path(chatroom) %></h3>
<% end %>
 